alembic==1.13.1
blinker==1.7.0
click==8.1.3
colorama==0.4.6
colored-traceback==0.3.0
configparser==5.3.0
Flask==3.0.0
Flask-Login==0.6.2
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
flask-unsign==1.2.0
greenlet==2.0.2
intervaltree==3.1.0
itsdangerous==2.1.2
jaraco.functools==3.9.0
jfx-bridge==1.0.0
Jinja2==3.1.2
lru-dict==1.2.0
Mako==1.2.4
MarkupSafe==2.1.2
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
pycparser==2.21
pycryptodome==3.18.0
pyelftools==0.29
Pygments==2.13.0
PyMySQL==1.1.0
websockets==11.0.3
Werkzeug==3.0.1
